<html>
  <head>
    <title>Auto Quote</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>

<body style="color: #000000">

<form  role="form" action="javascript:void(0);" onsubmit="AutoQuoteFunction()" id ="AutoQuoteForm" name="AutoQuoteForm">

<div class="form-group row ">
<label class="col-sm-3 form-control-label" for="people">Number of People:  <span class="text-info">(required)</span></label>
  <div class="col-sm-9">
 <input type='text' id ='people' class="form-control"  name='people' required/>
  </div>
</div>

<input class="btn btn-primary" type="submit" value="Send">

<p id="temp">18</p>

<script type="text/javascript">
function AutoQuoteFunction() {
//var body = JSON.stringify(serialize(document.AutoQuoteForm));
//https://github.com/macek/jquery-serialize-object
var body = $('form#AutoQuoteForm').serializeJSON();

//var body = JSON.stringify(1);
var params = {
};
var additionalParams = {
    //If there are any unmodeled query parameters or headers that need to be sent with the request you can add them here
};

var apigClient = apigClientFactory.newClient();

apigClient.autoquotePost(params, body, additionalParams)
                .then(function(result){
                  document.getElementById("temp").innerHTML = result.data;
                //alert(JSON.stringify(result));
            }).catch(function(result){
              document.getElementById("temp").innerHTML = JSON.stringify(result);
                //alert("Sorry, API Gateway is not responding");
            });
}
</script>

</body>
</html>
