
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<br>
<br>
<h3 id="result" class="bg-info" >Calculate a quote based on £1.50 per person</h3>
<form  role="form" action="javascript:void(0);" onsubmit="AutoQuoteFunction()" id ="AutoQuoteForm" name="AutoQuoteForm">

<div class="form-group row ">
<label class="col-sm-3 form-control-label" for="people">Number of People:  <span class="text-info">(required)</span></label>
  <div class="col-sm-3">
 <input type='text' id ='people' class="form-control"  name='people' required/>
  </div>
</div>

<div class="form-group row ">
<label class="col-sm-3 form-control-label" for="people">Event Postcode:  <span class="text-info">(required)</span></label>
  <div class="col-sm-4">
 <input type='text' id ='postcode' class="form-control"  name='postcode' required onchange="initMap()" />
  </div>
</div>

<input class="btn btn-primary" type="submit" value="Calculate">
<br>
<br>
<h3><div class="bg-success" id="output"></div></h3>
<div id="map"></div>
<!-- GOOGLE API START -->
<!-- https://developers.google.com/maps/documentation/javascript/examples/distance-matrix -->

   <script>
     function initMap() {
       var bounds = new google.maps.LatLngBounds;
       var markersArray = [];

       var origin1 = 'Greenwich, England';

       var destinationA = document.getElementById("postcode").value;

       var destinationIcon = 'https://chart.googleapis.com/chart?' +
           'chst=d_map_pin_letter&chld=D|FF0000|000000';
       var originIcon = 'https://chart.googleapis.com/chart?' +
           'chst=d_map_pin_letter&chld=O|FFFF00|000000';
       var map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: 55.53, lng: 9.4},
         zoom: 10
       });
       var geocoder = new google.maps.Geocoder;

       var service = new google.maps.DistanceMatrixService;
       service.getDistanceMatrix({
         origins: [origin1],
         destinations: [destinationA],
         travelMode: 'DRIVING',
         unitSystem: google.maps.UnitSystem.imperial,
         avoidHighways: false,
         avoidTolls: false
       }, function(response, status) {
         if (status !== 'OK') {
           alert('Error was: ' + status);
         } else {
           var originList = response.originAddresses;
           var destinationList = response.destinationAddresses;
           var outputDiv = document.getElementById('output');
           outputDiv.innerHTML = '';
           deleteMarkers(markersArray);

           var showGeocodedAddressOnMap = function(asDestination) {
             var icon = asDestination ? destinationIcon : originIcon;
             return function(results, status) {
               if (status === 'OK') {
                 map.fitBounds(bounds.extend(results[0].geometry.location));
                 markersArray.push(new google.maps.Marker({
                   map: map,
                   position: results[0].geometry.location,
                   icon: icon
                 }));
               } else {
                 alert('Geocode was not successful due to: ' + status);
               }
             };
           };

           for (var i = 0; i < originList.length; i++) {
             var results = response.rows[i].elements;
             geocoder.geocode({'address': originList[i]},
                 showGeocodedAddressOnMap(false));
             for (var j = 0; j < results.length; j++) {
               geocoder.geocode({'address': destinationList[j]},
                   showGeocodedAddressOnMap(true));
               outputDiv.innerHTML += results[j].distance.text;
             }
           }
         }
       });
     }

     function deleteMarkers(markersArray) {
       for (var i = 0; i < markersArray.length; i++) {
         markersArray[i].setMap(null);
       }
       markersArray = [];
     }
   </script>
   <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDilQ5RIw097e0co1x4khlKpoToVnCr7o4&callback=initMap">
   </script>
<!-- GOOGLE API END -->
<!---------------------------->
<!-- Amazon Gateway API START -->
<script type="text/javascript">
function AutoQuoteFunction() {
//var body = JSON.stringify(serialize(document.AutoQuoteForm));
//https://github.com/macek/jquery-serialize-object
var body = $('form#AutoQuoteForm').serializeJSON();

//var body = JSON.stringify(1);
var params = {
};
var additionalParams = {
    //If there are any unmodeled query parameters or headers that need to be sent with the request you can add them here
};

var apigClient = apigClientFactory.newClient();

apigClient.autoquotePost(params, body, additionalParams)
                .then(function(result){
                  document.getElementById("result").innerHTML = result.data;
                //alert(JSON.stringify(result));
            }).catch(function(result){
              document.getElementById("result").innerHTML = JSON.stringify(result);
                //alert("Sorry, API Gateway is not responding");
            });
}
</script>
<!---------------------------->
<!-- Amazon Gateway API END -->
