<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Remove Ads {% include adsensepageadverts.html %} -->
 
    {% include header.html %}

    {% include analyticstracking.html %}

    <div class="page-content">
       <!-- rapidmailer affiliate -->
        {% include rapidmailer.html %}

      <div class="wrapper">
        <!-- googlesearch 
        {% include googlesearch.html %}
        -->
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
