<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Remove Adss
    {% include adsensepageadverts.html %}
    -->
    <p>
     <a href="https://4c1781zgmdub7l03qnfhj9t1uh.hop.clickbank.net/">
        <img border="0" alt="W3Schools" src=":https://www.hywel.me/assets/email marketing list autoresponder.jpg">
     </a>
    </p>
        
    {% include header.html %}

    {% include analyticstracking.html %}

    <div class="page-content">
      <div class="wrapper">
        {% include googlesearch.html %}
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
